<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-4">
            <div class="text-center mb-5">
                <img src="assets/img/FAQ.png" class="rounded" alt="FAQs">
              </div>
        </div>
        <div class="col-md-12 mb-5">


            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
               
                      <h5 class="colorfont collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       About COVID-19 Vaccine Center Portal
                      </h5>
                
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body text-muted">
                        A portal to find daily vaccine centers and their locations,
            also the users can search for specific vaccine availability
            and find centers that are near to them.

                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                   
                      <h5 class="collapsed colorfont mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        official links related to COVID-19
                      </h5>
                   
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      <div class="d-flex align-items-center mb-3">
                      <img src = "assets/img/icon.jpg" class="image-logo"><a href="https://vaccine.jo/cvms/" class="text-center">Visit MoH COVID-19 Vaccine!</a>
                      </div>
                      <div class="d-flex align-items-center">
                      <img src = "assets/img/icon.jpg" class="image-logo"><a href="https://corona.moh.gov.jo/en">Visit MoH Corona !</a>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
               
                      <h5 class="collapsed colorfont" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        I am coming from one of the countries where the cases of COVID-19 have been recorded, and I have high fever and shortness of breath, what should I do?
                      </h5>
                    
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body text-muted">
                        Follow the instructions of the Ministry of Health for referral to the relevant hospital. For further inquiries, contact the Ministry of Health at the following numbers:
                        065004545/ 0778410186/111                    </div>
                  </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                  
                        <h5 class="collapsed colorfont mb-0" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Are pregnant women who work in healthcare, and look after people with coronaviruses (COVID-19) exposed to an increased chance of pregnancy complications?
                        </h5>
                      
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                      <div class="card-body text-muted">
                        Pregnant healthcare workers must follow instructions and recommendations related to infection control and its evaluation when dealing with infected patients, or those suspected of having Coronavirus (COVID-19). Hospital and medical center personnel should limit the interaction of pregnant women working in the health field with patients infected or expected to be infected with Coronavirus (COVID-19), especially in high-risk procedures.                    </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
</div>

