<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="assets/img/logo.png" height="65" alt="CoolBrand">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-5">
        <li class="nav-item active">
          <a class="nav-link" href="#" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/CENTERS">Centers</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/login">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/FAQ">FAQ</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="alert bg-color text-center" role="alert">
    COVID-19 Vaccine Center Portal******Ask about Vaccsine Center via the number 065004554
   </div>
  <router-outlet></router-outlet>
