<footer class="bg-light text-center text-lg-start mt-5">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <img src ="assets/img/logo.png" alt ="ministry of health" >
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 colorfont">
          <h5 class="text-uppercase">COVID-19 Vaccine Center Portal</h5>
  
          <p>
            A portal to find daily vaccine centers and their locations,
            also the users can search for specific vaccine availability
            and find centers that are near to them.

          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 colorfont"  style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Developed by:
      <a class="colorfont" href="https://linkedin.com/in/insherah-faour-92a468160/">Eng. Insherah Faour</a>
    </div>
    <!-- Copyright -->
  </footer>