<div class="container">
    <div class="row">
        <div class="col-md-12">
<h3 class="colorfont">Book your appointment</h3>
        </div>
        <div class="col-md-12">
            <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4"> First Name</label>
                    <input type="text" class="form-control" id="inputname4" placeholder="First Name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4"> Family Name</label>
                    <input type="text" class="form-control" id="inputfname4" placeholder="Family Name">
                  
                  </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword4">Phone Number </label>
                    <input type="tel" class="form-control" id="inputTel4" placeholder="Phone Number" pattern="[07]{2}[8,7,9]{3}-[0-9]{7}">
                </div>
                <div class="form-group">
                  <label for="inputAddress">Vaccine Center</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="Vaccine Center">
                </div>
                <div class="form-group">
                  <label for="inputAddress2">Age</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Age">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">Required Vaccine </label>
                    <select id="inputState" class="form-control">
                     <option>Senopharm</option> 
                     <option>Pfizer</option> 
                     <option>AstraZeneca</option> 
                     <option>Johnson</option> 
                     <option>Sputnik</option> 
                     <option>Moderna</option> 
                    </select>
                  </div>
                 
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Dose 1st
                    </label></div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Dose 2th
                          </label>
                    </div>
   
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Date:</label>
                        <input type="date" value="2021-09-01">
                    </div>
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-dark">Done</button>
                    </div>
                </div>
               
              </form>
        </div>
    </div>
</div>
