<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="colorfont">Add New Center</h3>
        </div>
        <div class="col-md-12">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4"> Center Name</label>
                        <input type="text" class="form-control" id="inputname4" placeholder="Center">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Required Vaccine </label>
                        <select id="inputState" class="form-control">
                            <option>Senopharm</option>
                            <option>Pfizer</option>
                            <option>AstraZeneca</option>
                            <option>Johnson</option>
                            <option>Sputnik</option>
                            <option>Moderna</option>
                        </select>
                    </div>
              
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Loacation </label>
                    <input type="number" class="form-control" id="inputnum14" placeholder="Location">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputAddress">Distance</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Distnace">
                </div>
</div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputState">Area </label>
                        <select id="inputState" class="form-control">
                            <option>عمان</option>
                            <option>الزرقاء</option>
                            <option>البلقاء</option>
                            <option>معان</option>
                            <option>مادبا</option>
                            <option>العقبه</option>
                            <option>الكرك</option>
                            <option>السلط</option>
                            <option>اربد</option>
                            <option>الطفيلة</option>
                            <option>المفرق</option>
                            <option>جرش</option>


                        </select>
                    </div>


               
                    <div class="form-group col-md-3">
                        <label for="inputEmail4"> Working Time</label>
                        <input type="text" class="form-control" id="inputname4" placeholder="workingTime">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputState">Scheduled Appointment </label>
                        <select id="inputState" class="form-control">
                            <option>لا يتطلب حجز مسبق</option>
                            <option>يتطلب حجز مسبق</option>
                        </select>
                    </div>
               
                    <div class="form-group col-md-4">
                        <label for="inputState">Dose 1st </label>
                        <select id="inputState" class="form-control">
                            <option>متوفر</option>
                            <option>غير متوفر</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Dose 2th </label>
                        <select id="inputState" class="form-control">
                            <option>متوفر</option>
                            <option>غير متوفر</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <button class="btn colorfontt" type="submit">Add</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>